body {
    background-image: url('../images/drink-bg.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.menu-card {
    border: 1px solid #ccc;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    border-radius: 17px;
    background-color: rgba(255, 255, 255, 0.719);
}
.coffee-picture img {
    width: 170px;
    height: auto;
    height: 170px;
    border-radius: 357px;
}
.order-message {
    display: none;
    color: green;
    margin-top: 10px;
}
.btn{
    color: rgb(0, 0, 0);
    background-color: rgb(257, 217, 177);
    outline-color: black;
}
.btn:hover{
    background-color: rgb(257, 157, 27);
}
.btn-primary{
    border-color: black;
}